@import 'tailwindcss';

@theme {
  /* Colors */
  --color-custom-Red: hsl(0, 100%, 74%) ;
  --color-custom-Green: hsl(154, 59%, 51%);
  --color-custom-Blue: hsl(248, 32%, 49%);
  --color-custom-Dark-Blue: hsl(249, 10%, 26%) ;
  --color-custom-Grayish-Blue: hsl(246, 25%, 77%);

  /* Font */
  --font-base: "Poppins", sans-serif;
}